.App {
	text-align: center;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr;
	grid-template-areas:
		"Canvas Options"
		"Canvas Options";
}
.Options {
	grid-area: Options;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.Canvas {
	grid-area: Canvas;
	width: 800px;
	height: 800px;
	display: flex;
	justify-content: center;
}
.color-squares {
	display: flex;
}
